button {
  outline: none;
  background: hsl(0, 0%, 10%);
}
.born {
  background: hsl(180, 60%, 50%);
}

.alive {
  background: hsl(180, 30%, 30%);
}

.cell {
  padding: 0.5rem;
  cursor: pointer;
  border-color: hsl(240, 50%, 37%);
}

.cell:hover,
.cell:focus {
  background: hsl(180, 80%, 50%);
}
