button {
    outline: none;
}
.born {
    background: #6dd9c1;
} 

.alive {
    background: #ffea85;
}

.cell {
    padding: .5rem;
    cursor: pointer;
}

.cell:hover,
.cell:focus {
    background: #097287;
}

